<html>

<head>
  <title>Mobiliteitsapp</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
  <link rel="stylesheet" src="/stylesheets/style.css">


  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>


</head>

<body ng-app="mobiliteitsapp">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id='container' ng-controller='MainCtrl as main'>
        <md-content>
          <md-card layout="column" >
            
            <md-card-content>

                <md-autocomplete
            md-selected-item="main.selectedItem"
            md-search-text-change="main.searchTextChange(main.searchText)"
            md-search-text="main.searchText"
            md-selected-item-change="main.selectedItemChange(item)"
            md-items="item in main.querySearch(main.searchText)"
            md-item-text="item.name"
            md-min-length="0"
            placeholder="Van waar wil je vertrekken?">
            <md-item-template>
            <span class="item-title">
              <span> {{item.name}} </span>
            </span>
            <span class="item-metadata">
              <span class="item-metastat">
                <strong>{{item.adres}}</strong>
              </span>

            </span>
          </md-item-template>
          <md-not-found>
            No states matching "{{main.searchText}}" were found.
            <a ng-click="main.newState(main.searchText)">Create a new one!</a>
          </md-not-found>
        </md-autocomplete>
        <br/>

            </md-card-content>
          <md-card>
        </md-content>
      </div>
    </div>
  </div>
</body>
</html>
